* {
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: #1e293b;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  margin-bottom: 25px;
  color: #94a3b8;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background: #334155;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.02);
}

.login-btn {
  background: #22c55e;
  color: white;
}

.logout-btn {
  background: #ef4444;
  color: white;
}

button:not(.login-btn):not(.logout-btn) {
  background: #3b82f6;
  color: white;
}

#msg {
  margin-top: 20px;
  text-align: center;
  color: #facc15;
}